@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}

<head>
     @*Slider Code*@
      <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
      <link rel="stylesheet" href="~/css/Slider.css"/>


</head>
<div class="all-home-index">
    
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/s3.jpg" class="d-block w-100" alt="Image One">
            </div>
            <div class="carousel-item">
                <img src="~/Images/s2.jpg" class="d-block w-100" alt="Image Two">
            </div>
            <div class="carousel-item">
                <img src="~/Images/s1.png" class="d-block w-100" alt="Image Three">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>

        @*
           <section class="socities">
                <div class="container">
                   <div class="socity-top">
                       <h2>SOCITIES</h2>
                       <hr />
                       <p>Covering the basics</p>
                   </div>
                   <div class="socity-main">
                       <div class="cs">
                           <img  src="~/Images/IEEE_CS.png"/>
                           <h3>CS</h3>
                           <p>Do You Love Programming</p>
                            <div class="mb-4">
                                 <a href="https://www.facebook.com/IEEEZSB" >
                                        <button class="button type1">
                                        </button>
                                </a>

                           </div>
                       </div>
                        <div class="ras">
                           <img  src="~/Images/IEEE_RAS.png"/>
                           <h3>RAS</h3>
                           <p>Make HardWare Live</p>
                           <div class="mb-4">
                                 <a href="https://www.facebook.com/IEEEZSB" >
                                        <button class="button type1">
                                        </button>
                                </a>

                           </div>

                       </div>
                       <div class="pes">
                           <img  src="~/Images/IEEE_RAS.png"/>
                           <h3>PES</h3>
                           <p>Make Electric Live</p>
                          
                           <div class="mb-4">
                                 <a href="https://www.facebook.com/IEEEZSB" >
                                        <button class="button type1">
                                        </button>
                                </a>

                           </div>

                       </div>
                   </div>

                </div>
        </section>
        *@


        
        <section class="slider">
               
                <section id="tranding">
                  <div class="container">
                    <div class="officer-top">
                        <h2>OFFICERS</h2>
                        <hr />
                    </div>
                  </div>
                  <div class="container">
                    <div class="swiper tranding-slider">
                      <div class="swiper-wrapper">
                         @*1st Slider*@
                        <div class="swiper-slide tranding-slide">
                          <div class="tranding-slide-img">
                            <img src="~/Images/team/01.png" alt="Tranding">
                          </div>
                        </div>

                         @*2st Slider*@
                        <div class="swiper-slide tranding-slide">
                          <div class="tranding-slide-img">
                            <img src="~/Images/team/02.png" alt="Tranding">
                          </div>
                        </div>

                         @*3st Slider*@
                        <div class="swiper-slide tranding-slide">
                          <div class="tranding-slide-img">
                            <img src="~/Images/team/03.png" alt="Tranding">
                          </div>
                        </div>

                        @*4st Slider*@
                        <div class="swiper-slide tranding-slide">
                          <div class="tranding-slide-img">
                            <img src="~/Images/team/04.png" alt="Tranding">
                          </div>
                        </div>

                        @*5st Slider*@
                        <div class="swiper-slide tranding-slide">
                          <div class="tranding-slide-img">
                            <img src="~/Images/team/05.png" alt="Tranding">
                          </div>
                        </div>


                        @*6st Slider*@
                        <div class="swiper-slide tranding-slide">
                          <div class="tranding-slide-img">
                            <img src="~/Images/team/07.png" alt="Tranding">
                          </div>
                        </div>

               
                      </div>

                      <div class="tranding-slider-control">
                        <div class="swiper-button-prev slider-arrow">
                          <ion-icon name="arrow-back-outline"></ion-icon>
                        </div>
                        <div class="swiper-button-next slider-arrow">
                          <ion-icon name="arrow-forward-outline"></ion-icon>
                        </div>
                        <div class="swiper-pagination"></div>
                      </div>

                    </div>
                  </div>
                </section>

                <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
                <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        </section>

        <section class="posts">
            @*display last three post*@
            <div class="post-top">
                <h2>Posts</h2>
                <hr />
            </div>
                <div class="container mt-4 mb-4">
	                <section class="all-section">
		                @{
			                int cnt = 1;
			                foreach (var item in Model)
			                {
				                <div class="card" >
				                  <img src="~/@item.ImagePath" class="card-img-top" alt="Event Title @cnt">
				                  <div class="card-body">
					                <h5 class="card-title">@item.Name</h5>
					                <p class="card-text">@item.Description</p>
					                <div class="social-medial">
						                <a href="@item.FaceBookLink" >
                                                <button class="button type1">
                                                </button>
                                        </a>
						                <a href="@item.LinkedInLink" >
                                                <button class="button type1 type2">
                                                </button>
                                        </a>
					                </div>
				                  </div>
				                </div>
				
			                }
		                }


	                </section>
                </div>
       </section>






<script>
    var TrandingSlider = new Swiper('.tranding-slider', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      loop: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 100,
        modifier: 2.5,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    });



</script>
<style>
   
    #carouselExampleAutoplaying img
    {

        height:95vh;
        background-color:white;
        border: none !important;
        outline:none !important;
    }


   /* Shared propery */
    .socities, 
    .officer,
     .posts {
        margin-top:30px;
        min-height:100vh;
        display:flex;
        flex-direction:column;
        justify-content: space-around
    }
    .officer {
        min-height:80vh;
    } 

   /* .officer {
        background:red;
    }*/


    .socities .socity-top,
   .officer-top,
    .posts .post-top {
        width:fit-content;
        margin:auto;
        margin-bottom:80px;
        text-align: center;
        
    }
    .socities .socity-top h2,
     .officer-top h2,
    .posts .post-top h2{
        font-size:40px;
    }

    .socities .socity-top hr,
     .officer-top hr ,
    .posts .post-top  hr{
        width:75%;
        margin:auto;
        background-color:#006699;
        height:2px;
        opacity:1;
        margin-top:15px;
    }



   /* Society Property*/

    .socities .socity-top p {
        margin-bottom: 2rem;
        margin-top: 5px;
        font-size: 25px;
        font-weight: 500;
        
    }
    .socities .socity-main {
          display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
    }
    .socities .socity-main > div
    {
        position:relative;
        background-color:#F4F4F4;
        border-radius:20px;
        text-align:center;
        margin-bottom:30px;
    }
    .socities .socity-main > div > h3 {
        margin-top:80px;

    }
     .socities .socity-main > div > p {

         color:#908287;
          margin-bottom: 50px;
     }
    .socities  img {
            position:absolute;
            width:100px;
            top: -41px;
            left: 36.6%;
     }


   /* Officer property */
   .officer {
       text-align:center;
   }
   .chairman-lower 
   {
       display:flex;
       align-content:center;
       justify-content:space-between;

   }
  
   .officer-chairman > div,
   .chairman-lower > div
   {
       display:flex;
       align-items:center;
       justify-content:center;
       margin-top: 100px;
   }

   .officer-chairman > div > div,
   .chairman-lower  > div > div {
       display:flex;
       align-items:center;
       justify-content:center;
       flex-direction:column;
   }
   .officer-chairman > div p, 
   .chairman-lower  > div p
   {
       all:unset;
       margin-left: 8px;
   }
   .chairman-lower > div .title,
   .officer-chairman > div .title {
       color:#D0D0D0;

   }


   .officer-chairman img,
   .chairman-lower img
    {
        width:30px;
        border-radius:20px;

    }


   /* Post*/
    .posts {
        margin-bottom:100px;
    }
	.all-section {
		display:grid;
		grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 30px;
       font-family: 'Roboto', sans-serif;
       font-weight:500;
	}
     .all-section .card-body {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
    }
    .all-section .card {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border-radius:30px;
        background:#006699;
    }
    .all-section .card h5 {
        color:#f0f0f0;
    }
    .all-section .card p {
        color: #f0f0f0;
    }
    .all-section .card img
    {
        height:180px !important;
            border-radius: 30px 30px 0px 0px;
    }
	.all-section .social-medial 
	{
			display: flex;
			align-items: center;
			justify-content: space-around;
	}
    .all-section .social-medial 
    {
        margin-top:20px;
        margin-bottom:40px;
    }
   

    


     /*Button Sytle*/
   .button {
      height: 50px;
      width: 130px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
    }

    .button:hover {
      box-shadow: .5px .5px 130px #252525;
    }

    .type1::after {
      content: "Facebook";
      height: 50px;
      width: 130px;
      background-color: #006699;
      color: #fff;
      position: absolute;
      top: 0%;
      left: 0%;
      transform: translateY(50px);
      font-size: 1.2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in-out;
    }
    .type2::after {
        content: "Linked In";
    }
    .type1::before {
      content: "Go To";
      height: 50px;
      width: 130px;
      background-color: #fff;
      color: #006699;
      position: absolute;
      top: 0%;
      left: 0%;
      transform: translateY(0px) scale(1.2);
      font-size: 1.2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in-out;
    }

    .type1:hover::after {
      transform: translateY(0) scale(1.2);
    }

    .type1:hover::before {
      transform: translateY(-50px) scale(0) rotate(120deg);
    }



   

    

</style>