@model List<Event>

@{
	ViewData["Title"] = "Event";
}

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="~/css/categoryButton.css" rel="stylesheet"/>
</head>
<div class="container mt-4 mb-4">

	<section class="all-section">
		@{
			int cnt = 1;
			foreach (var item in Model)
			{
				<div class="card" >
				  <img src="~/@item.ImagePath" class="card-img-top" alt="Event Title @cnt">
				  <div class="card-body">
					<h5 class="card-title">@item.Name</h5>
					<p class="card-text">@item.Description</p>
					<div class="social-medial">
						        <a href="@item.FaceBookLink" >
                                        <button class="button type1">
                                        </button>
                                </a>
						        <a href="@item.LinkedInLink" >
                                        <button class="button type1 type2">
                                        </button>
                                </a>

					</div>
				  </div>
				</div>
				
			}
		}


	</section>
</div>





<style>

	.all-section {
		display:grid;
		grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 30px;
       font-family: 'Roboto', sans-serif;
       font-weight:500;
	}
     .all-section .card-body {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
    }
    .all-section .card {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border-radius:30px;
        background:#006699;
    }
    .all-section .card h5 {
        color:#f0f0f0;
    }
    .all-section .card p {
        color: #f0f0f0;
    }
    .all-section .card img
    {
        height:180px !important;
            border-radius: 30px 30px 0px 0px;
    }
	.all-section .social-medial 
	{
			display: flex;
			align-items: center;
			justify-content: space-around;
	}
    .all-section .social-medial 
    {
        margin-top:20px;
        margin-bottom:40px;
    }
   
    
	





	   /*Button Sytle*/
   .button {
      height: 50px;
      width: 130px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
    }

    .button:hover{
      box-shadow: .5px .5px 150px #252525;
    }

    .type1::after{
      content: "Facebook";
      height: 50px;
      width: 130px;
      background-color: #006699;
      color: #fff;
      position: absolute;
      top: 0%;
      left: 0%;
      transform: translateY(50px);
      font-size: 1.2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in-out;
    }
    .type2::after {
      content: "LinkedIn";
     
    }

    .type1::before {
      content: "Go To";
      height: 50px;
      width: 130px;
      background-color: #fff;
      color: #006699;
      position: absolute;
      top: 0%;
      left: 0%;
      transform: translateY(0px) scale(1.2);
      font-size: 1.2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in-out;
    }

    .type1:hover::after {
      transform: translateY(0) scale(1.2);
    }

    .type1:hover::before {
      transform: translateY(-50px) scale(0) rotate(120deg);
    }

    

</style>