@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IEEE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IEEEWebsite.styles.css" asp-append-version="true" />
       @*Import Google Fonts*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap" rel="stylesheet">
   @* import FontAwesome Library *@
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand"  asp-controller="Home" asp-action="index">Logo Here</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa-solid fa-bars bar-icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link
                    @(ViewContext.RouteData.Values["controller"].ToString() == "Home"? "active": "") aria-current="page" asp-controller="Home" asp-action="index" 
                  >Home</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link
                    @(ViewContext.RouteData.Values["controller"].ToString() == "UserEvent"? "active": "")" asp-action="Index" asp-controller="UserEvent">Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link
        @(ViewContext.RouteData.Values["controller"].ToString() == "About"? "active": "")" asp-action= "Index"  asp-controller = "About">About</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link
            @(ViewContext.RouteData.Values["controller"].ToString() == "LeaderBoard"? "active": "")" asp-action="Index" asp-controller="LeaderBoard">LeaderBoard</a>
                </li>
                
                 

                        @{
                            if(User.Identity.IsAuthenticated == true && User.HasClaim(ClaimTypes.Role, "Student"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link
                                        @(ViewContext.RouteData.Values["controller"].ToString() == "ManageUser"? "active": "") "
                                        asp-action="Index" asp-controller="ManageUser">
                                        Tasks
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link
                                        @(ViewContext.RouteData.Values["controller"].ToString() == "UserWarning"? "active": "") "
                                        asp-action="Index" asp-controller="UserWarning">
                                        Warning
                                    </a>
                                </li>
                            }
                        }
                  @if(User.HasClaim(ClaimTypes.Role, "Admin"))
                    {
                      <li class="nav-item">
                          <a class="nav-link
                        @(ViewContext.RouteData.Values["controller"].ToString() == "Manage" ||
                           ViewContext.RouteData.Values["controller"].ToString() == "Post"  || 
                           ViewContext.RouteData.Values["controller"].ToString() == "Event" ||
                           ViewContext.RouteData.Values["controller"].ToString() == "Warning"  ? "active" : "")" asp-action = "Index" asp-controller="Manage" >Manage Website</a>
                    </li>
                   
                    }
              </ul>
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  @{if(User?.Identity?.IsAuthenticated == false)
                    {
                        <li class="nav-item">
                            <a class="nav-link
                        @(ViewContext.RouteData.Values["controller"].ToString() =="Auth" && ViewContext.RouteData.Values["action"].ToString() == "Login"? "active": "")" asp-controller="Auth" asp-action="Login">Login</a> 
                        </li>
                        }
                        else
                        {
                            <div class="dropdown">
                              <button class="btn private-button dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>
                                <a class="dropdown-item logout
                                   @(ViewContext.RouteData.Values["controller"].ToString() =="Profile" &&ViewContext.RouteData.Values["action"].ToString() == "Index"? "private-active": "")" asp-controller="Profile" asp-action="Index"> Profile</a>
                                </li>
                                <li><a class="dropdown-item logout" asp-controller="Auth" asp-action="Logout"> Logout</a>

                                
                                </li>
                               
                              </ul>
                            </div>
                        }}
                    </ul>
              
            </div>
        </div>
    </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container text-center">
            &copy; 2023 - IEEEWebsite 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   <script src="~/lib/font-awesome/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>

</script>
<style>

    .navbar 
    {
       background-color:#000;
       font-family: 'Cairo', sans-serif;
    }
    .navbar-toggler
    {
        border:1px solid #222;
        color:white ;
        background-color: #6c757d;
    }
  
     
    .navbar-toggler:focus
     {
         box-shadow:none !important;
         border: 1px solid #5398e2;
     }

     .navbar a {
         color:#ededed;
          padding:5px 15px !important;
     }
     .navbar a.nav-link:hover,
     .navbar a.nav-link.active,
     .private-active{
         color:#006699 !important;
         font-weight:600;
         background-color:#262424;        
         border-radius:5px;
         text-align:center;
        


     }
     @*Drop Down list*@
     .private-active:hover,
     .logout:hover
     {
          color:#006699 !important;
         font-weight:600;
         background-color:#262424 !important;        
         border-radius:5px;
         text-align:center;
         padding:5px 15px !important;
         
     }
   
     .dropdown-menu li {
         padding:10px 0px;
     }
     .dropdown-menu
     {
         background:#000;
         
     }

     .navbar-expand-lg .navbar-nav .dropdown-menu {
            left: -20px;
      }
     @* User Button *@
     .private-button
     {
         background:#fff;
     }
     .private-button svg {
         color:#000 !important
     }

     .footer {
         background-color:#000;
         color:#eee;
     }

</style>
