@using System.Text.RegularExpressions
@model List<Event>
@{
    ViewData["Title"] = "Event";
}


@{
    static string HandleDescription(string Description)
    {
        string urlPattern = @"(http|https|ftp)://[^\s/$.?#].[^\s]*";
        string finalText = "";
        var spiltNewLine = Description.Split("\n");
        foreach (var line in spiltNewLine)
        {
            string replacedText = Regex.Replace(line, urlPattern, match => {
                string url = match.Value;
                return $"<a href='{url}'>{url}</a>";
            });
            finalText += $"<p>{replacedText}</p>";

        }
        @*String Formating*@
        
        string codePattern = @"`(.*?)`";

        
        string codeReplacement = "<code>$1</code>";

        string result = Regex.Replace(finalText, codePattern, codeReplacement);


        return result;
    }
}


	
<div>
    <table class="table table-dark table-striped container mt-5 w-75">
        <div class="add-category">
	        <a asp-action="AddEvent" asp-controller="Event">Add Events</a>
        </div>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Event Name</th>
          <th scope="col">Event Description</th>
          <th scope="col">Event Image</th>
          <th scope="col">Update Event</th>
          <th scope="col">Delete Event</th>
        </tr>
      </thead>
      <tbody>
            @{
                var cnt = 1;
                foreach(var item in Model)
                {      
                    <tr >
                      <th >@cnt</th>
                      <td >@item.Name</td>
                      <td >
                            @{
                                var Description = item.Description;
                                var result = HandleDescription(Description);
                                

                            }
                            @Html.Raw(result)
                            </td>
                      <td class="Event-image-view">
                        <img src="~/@item.ImagePath" alt = "Event -image - @cnt">
                      </td>
                      <td >
                           <a asp-action="UpdateEvent" asp-controller="Event" asp-route-id="@item.Id"
                            class="text-success">
                                 <i class="fa-solid fa-pen-to-square"></i>
                           </a>
                      </td>
                      <td class="text-center">
                        <a asp-action="DeleteEvent" asp-controller="Event" asp-route-id="@item.Id"
                         class="text-danger">
                            
                            <i class="fa-solid fa-trash"></i>
                        </a>
                      
                      </td>
                    </tr>
                    cnt++;
                }
            }
      
      </tbody>
    </table>
</div>

<style>
    td svg{
        cursor:pointer;
    }
    td, tr
    {
        text-align:center;
    }
    .add-category
    {
        background-color:#2c3034;
        width:fit-content;
        margin-left:auto;
        margin-right:auto;
        margin-top:40px;
        border-radius:10px;
        padding:20px;
        font-weight:500;
    }
    .add-category a
    {
        color:#fff;
        text-decoration:none;
    }
    .add-category:hover
    {
        background-color:#212529;
    }
    .add-category a:hover
    {
        color:#357ae8;
        font-weight:700;
    }
    td.Event-image-view img
    {
       width: 100px;
    }

</style>